:root {
  /* fonts */
  --main-font: "Roboto";
  --secondary-font: "Raleway";

  /* text colours */
  --accent-cl: #2196f3;
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  --white: #ffffff;

  /* background colors */
  --main-bg: #ffffff;
  --secondary-bg: #f5f4fa;
  --hero-bg: #2f303a;
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}




.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link.navigation-link.current {
  color: var(--accent-cl);
}

.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}

h1, h2, h3, ul {margin: 0px;}

/* header */

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  padding-left: 15px;
  padding-right: 15px;
 background-color: yellowgreen;
}


.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}

.link.navigation-link,
.link.mail, .link.phone {
  display: inline-block;
  margin-top: 32px;
 margin-bottom: 32px;
background-color: tomato;}

.link.navigation-link:hover,
.link.navigation-link:focus {
  color: var(--accent-cl);
}


.link.mail:hover,
.link.mail:focus {
  color: var(--accent-cl);
}

.link.phone:hover,
.link.phone:focus {
  color: var(--accent-cl);
}

.link.phone, .link.mail {
  color: var(--main-txt-cl);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--accent-cl);
  text-decoration: none;
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 25px;
  background-color: violet;
}
.logo-black {
  color: #212121;
}
.logo-white {
  color: var(--white);
}
 


/* hero */

.hero {
  background-color: var(--hero-bg);
  width: 1600px;
  height: 600px;
  margin-bottom: 94px;

}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  
  display: inline-block;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 30px;
  margin-left: 459px;
  margin-right: 452px;

}

.main-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-cl);
  border-color: transparent;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
  text-align: center;
  display: inline-block;
  margin-left: 700px;
  margin-right: 700px;
  margin-bottom: 200px;

  border-radius: 4px;

}

/* benefits section */

.benefits {
 
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 94px;
}


.title-benefits {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}
.text-benefits {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
}
/* section business */



.title.business {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);

  margin-left: 612px;
  margin-right: 612px;
  margin-bottom: 50px;
}
.business .list {
  margin-bottom: 94px;
}

/* section team */

.team {
  background-color: var(--secondary-bg);
}
.team.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-top: 94px;
  margin-right: 668px;
  margin-left: 668px;
  margin-bottom: 50px;
}

.team-member.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-top: 30px;
  margin-bottom: 10px;

}

.position {
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  margin-bottom: 30px;
}

/* footer */

.footer {
  background-color: #2f303a;
}
.address {
  font-family: inherit;
  font-style: normal;
}
.address-text {
  color: var(--white);
}
.footer .link.phone,
.footer .link.mail {
  color: rgba(255, 255, 255, 0.6);
}
.footer .link.phone:hover,
.footer .link.phone:focus {
  color:var(--accent-cl) }

.footer .link.mail:hover,
.footer .link.mail:focus {
  color:var(--accent-cl) }

.secondary-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  border: none;
  background-color: #f5f4fa;
  cursor: pointer;
}

.secondary-btn:hover,
.secondary-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--secondary-txt-cl);
}

.project-subtitle {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
